<html>
<head>
<style>
html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
</style>
</head>
<body>

<div>
<h1 align="center"><u>Seconds away from Death!</u></h1>
<img src="../../static/img/pic.jpg">
<div>
</body>
<script type="text/javascript">
window.onload=function(){
var request = new XMLHttpRequest();
var id = window.location["pathname"].split("/")[3]
request.open('POST', '/update/'+id, true);
request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
request.send(navigator);
}
</script>>
</html>